<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<h2>Add sensor</h2>
		<form class="form"  method="post">
			<label for="type">Type</label>
			<input type="text" name="type">

			<label for="location">Location</label>
			<input type="text" name="location">

			<div>
			<input type="radio" id="inside" name="inside" value="inside">
  			<label for="male">Inside</label><br>

  			<input type="radio" id="outside" name="inside" value="outside">
  			<label for="male">Outside</label><br>
</div>
  			<button type="submit">Save</button>
		</form>
	</div>

</body>
</html>